---
import { formatDate } from "../../lib/utils";
import Prose from "../../components/prose.astro";
import { getCollection, render } from "astro:content";
import InfoLayout from "../../layouts/InfoLayout.astro";

export const prerender = true;

export async function getStaticPaths() {
  const releases = await getCollection("releases");

  return releases.map((release) => ({
    params: {
      slug: release.data.slug,
    },
    props: { release },
  }));
}

const { release } = Astro.props;

if (release === undefined) {
  return new Response("Release not found", { status: 404 });
}

const { Content } = await render(release);

const allReleases = await getCollection("releases");
---

<InfoLayout title={release.data.title} frontmatter={release.data}>
  <section class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
    <!-- Go back to releases -->
    <a href="/#releases" class="text-lg text-zinc-400 hover:text-zinc-200">
      &larr; Back to Releases
    </a>
    <Prose>
      <a href={`/releases/${release.data.slug}`}>
        <img
          src="/images/uploads/soulscience.jpg"
          alt={release.data.title ?? "Release cover"}
          class="aspect-[1/1] object-center object-cover rounded-lg shadow-lg"
        />
      </a>
      <h1>{release.data.title}</h1>
      <h2>by <strong>{release.data.artist}</strong></h2>
      <hr />
      <Content />
      <hr />
      Listen on:
      <ul class="mt-4 space-y-2">
        {
          Object.entries(release.data.links).map(([platform, link]) => (
            <li>
              <a
                href={link}
                class="text-zinc-400 hover:text-zinc-200"
                target="_blank"
                rel="noopener noreferrer"
              >
                {platform.toUpperCase()}
              </a>
            </li>
          ))
        }
      </ul>
    </Prose>
  </section>
</InfoLayout>
