---
import { getCollection, render } from "astro:content";
import { formatShortDate } from "../lib/utils";

const allReleases = await getCollection("releases");
---

<div>
  <ul
    class="mt-4 sm:mt-12 grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-16 sm:gap-8"
  >
    {
      allReleases.map((release, i) => (
        <li class=" transition-transform duration-300 ease-in-out hover:scale-105">
          {release.data.cover && (
            <a href={`/releases/${release.id}`}>
              <div class="overflow-hidden rounded-lg shadow-lg mb-4 sm:mb-0 group">
                <img
                  src={release.data.cover}
                  alt={release.data.title ?? "Release cover"}
                  class="aspect-[1/1] object-center object-cover transition-transform duration-300 ease-in-out group-hover:scale-110"
                />
              </div>
            </a>
          )}
          <div class="pt-4 w-full text-center text-zinc-100">
            <a href={`/releases/${release.id}`}>
              <h2 class="text-xl">{release.data.title}</h2>
              <h3 class="text-lg">
                {release.data.artist +
                  (release.data.otherArtists.length > 0
                    ? `, ${release.data.otherArtists.join(", ")}`
                    : "")}
              </h3>
              <p>{formatShortDate(release.data.releaseDate)}</p>
            </a>
          </div>
        </li>
      ))
    }
  </ul>
</div>
